<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>listado Vehiculos</title>

</head>

<body>
    <h1>Listado Vehiculos</h1>
    <thead>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'formPersona' %}">Formulario Personas</a></li>
                <li><a href="{% url 'listPersona' %}">Lista Personas</a></li>
                <li><a href="{% url 'formVehiculo' %}">Formulario Vehiculos</a></li>
                
            </ul>
        </nav>
    </thead>
    <div class="prueba">
        <table class="content">
            <thead>
                <tr>
                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Propietario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{vehiculo.patente}}</td>
                    <td>{{vehiculo.marca}}</td>
                    <td>{{vehiculo.modelo}}</td>
                    <td>{{vehiculo.persona.nombre}} {{vehiculo.persona.apellido}}</td>
                    <td>
                        <a href="{% url 'updateVehiculo' vehiculo.idVehiculo %}">Editar</a>
                        <a href="{% url 'delVehiculo' vehiculo.idVehiculo %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>